<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- pc端在手机端等不缩放 -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- pc端在手机端等比例缩放 -->
    <!-- <meta name="viewport" content="width=device-width,intial-scale=1,maximum-scale=0,user-scalable=no,shrink-to-fit=no">-->
    <script src="https://gitpjm-gitpjm-a23cb3945974aba9f32fd66289d72c67586eea4fd7f95a6da.gitlab.io/js/axios.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://gitpjm-gitpjm-a23cb3945974aba9f32fd66289d72c67586eea4fd7f95a6da.gitlab.io/js/element.css">
    <!-- 引入组件库 -->
    <script src="https://gitpjm-gitpjm-a23cb3945974aba9f32fd66289d72c67586eea4fd7f95a6da.gitlab.io/js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://gitpjm-gitpjm-a23cb3945974aba9f32fd66289d72c67586eea4fd7f95a6da.gitlab.io/js/element.js"></script>
    <style>
        html body {
            margin: 0;
            padding: 0;
            font-size: 16px;
            color: #fff;
            overflow-x: hidden;
        }

        .itemwrap {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 16px;
            box-sizing: border-box;
        }

        .itemwrap .title {
            text-align: left;
            white-space:nowrap;
            width: 100%;
            font-size: 18px;
            margin: 16px 0;
            color: #67C23A;
        }

        .itemwrap .title i {
            margin-right: 2px;
        }

        .el-input__inner {
            font-size: 18px;
            background: #000;
            color: #fff;
        }

        .el-select-dropdown__item {
            font-size: 18px;
        }

        .selectWrap .el-input__inner {
            font-size: 14px;
        }

        .el-select-dropdown {
            background: #121212 !important;

        }

        .el-select-dropdown__item {
            color: #fff !important;
        }

        .el-select-dropdown__item.hover {
            color: #409EFF !important;
            background: none !important;
        }

        .el-select-dropdown__item.selected {
            color: #409EFF !important;
            background: none !important;
        }

        .el-select-dropdown__item.hover,
        .el-select-dropdown__item:hover {
            background: none !important;
            color: #409EFF !important;
        }
    </style>
</head>

<body>
    <div id="app"
        style="background:#414141;width: 100vw;height:100vh;overflow-y:auto;padding: 16px;box-sizing:border-box;overflow-x:hidden;">

        <!-- <div style="width:100%;display: flex;justify-content:center;margin-top: 10px;margin-left:6px;">
            <el-rate v-model="rateValue"></el-rate>
        </div> -->
        <div style="height: 75vh;display: flex;justify-content:center;flex-wrap:wrap;overflow-y:auto;padding-bottom: 30px;position: relative;top:-16px;">
            <div style="position:relative;top: 10px;padding-bottom:30px;">
                <div class="itemwrap">
                    <div class="title"><i class="el-icon-setting"></i> 运行APP设置1</div>
                    <el-select @change='changeRun' style="width:100%;" v-model="globData.runApp" placeholder="运行设置">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="itemwrap">
                    <div class="title"><i class="el-icon-mobile-phone"></i>养机设置</div>
                    <el-select style="width:100%;" v-model="globData.runModel" @change="changeRun" placeholder="小程序设置">
                        <el-option v-for="item in runOptions" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="itemwrap">
                    <div class="title"><i class="el-icon-star-on"></i>小程序数量设置</div>
                    <el-select style="width:100%;" v-model="globData.miniAppNum" @change="changeNum" placeholder="小程序设置">
                        <el-option v-for="item in optionsNum" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="itemwrap">
                    <div class="title"><i class="el-icon-s-tools"></i>广告数量设置</div>
                    <div style="display: flex;width:100%;justify-content: space-between;">
                        <el-slider style="width:60%;margin-left:6px;" @change="changeRun" v-model="globData.lookRangeNum" range :marks="marks"
                            :min="1" :max="4"></el-slider>
                        <el-select class="selectWrap" style="width: 30%;" v-model="rangNum" @change="setRangeNum"
                            placeholder="快捷">
                            <el-option v-for="item in [1,2,3,4]" :key="item" :label="item" :value="item"> </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="itemwrap">
                    <div class="title"><i class="el-icon-collection"></i>其他设置</div>
                    <el-select multiple style="width:100%;" v-model="globData.otherValue" @change="changeRun" placeholder="其他设置">
                        <el-option v-for="item in otherOptionsNum" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>
        </div>

        <div style="display: flex;justify-content: center;position:relative;top:-20px;">
            <el-button :loading="loading" @click='startRun' icon="el-icon-check" style="width:90%;height: 45px;font-size: 16px;"
                size="large" type="primary">开始运行</el-button>
        </div>
        
        <div style="margin-top:26px;color:#fff;padding: 0 16px;font-size: 14px;position:fixed;bottom: 16px;left:16px;">
            <div style="margin-bottom:8px;" id='phoneIp'>IP:</div>
            <div id='phoneId'>ID:-- 型号：--</div>
        </div>
        
    </div>
    <script>
        var vueData = new Vue({
            el: '#app',
            data: function () {
                return {
                	loading: false,
                    rateValue: 5,
                    rangNum: '',
                    globData: {
                        runModel:'1',
                        runApp: "1",
                        miniAppNum: "4",
                        lookRangeNum: [1, 1],
                        otherValue:''
                    },
                    marks: {
                        1: '1',
                        2: '2',
                        3: '3',
                        4: '4',
                    },
                    runOptions: [
                        {
                            value: "1",
                            label: "边养机边看广告"
                        },
                        {
                            value: "2",
                            label: "精养机+不看广告"
                        },
                        {
                            value: "3",
                            label: "初始看广告+不养机+后续边养边看"
                        },
                        {
                            value: "4",
                            label: "抖音精养机后+只广告不养机"
                        },
                        {
                            value: "5",
                            label: "全程只看广告不养机"
                        },
                        {
                            value: "6",
                            label: "抖音养机后+去火山只看广告"
                        }
                    ],
                    options: [
                        {
                            value: "1",
                            label: "抖音"
                        },
                        {
                            value: "6",
                            label: "早上抖音+晚上火山版"
                        },
                        {
                            value: "2",
                            label: "抖音火山版"
                        },
                        {
                            value: "3",
                            label: "抖音+抖音火山版"
                        },
                        {
                            value: "4",
                            label: "抖音极速版"
                        },
                        {
                            value: "5",
                            label: "其他任务(微信、APP、快手...)"
                        },
                        // {
                        //     value: "6",
                        //     label: "其他任务(预留)"
                        // },
                        // {
                        //     value: "7",
                        //     label: "其他任务(预留)"
                        // }
                    ],
                    optionsNum: [{
                            value: "1",
                            label: "固定数量"
                        },
                        {
                            value: "2",
                            label: "随机5个"
                        },
                        {
                            value: "3",
                            label: "随机8个"
                        },
                        {
                            value: "4",
                            label: "随机全部"
                        },
                    ],
                    otherOptionsNum: [
                    	{
                            value: "",
                            label: "请选择"
                        },
                    	{
                            value: "1",
                            label: "快速开始任务"
                        },
                        {
                            value: "2",
                            label: "测试搜索功能"
                        },
                        {
                            value: "3",
                            label: "清除任务队列+快速任务"
                        },
                        {
                            value: "4",
                            label: "重置当前的搜索和养机的队列"
                        },
                        // {
                        //     value: "5",
                        //     label: "预留的值--5"
                        // },
                        // {
                        //     value: "6",
                        //     label: "预留的值--6"
                        // },
                        // {
                        //     value: "7",
                        //     label: "预留的值--7"
                        // },
                        // {
                        //     value: "8",
                        //     label: "预留的值--8"
                        // },
                    ]
                }
            },
            methods: {
                changeRun(){
                	window.at.callFun('setPhoneGlobaData', JSON.stringify(this.globData))
                },
                changeNum(val) {
                    if (val == 1) {
                        this.globData.lookRangeNum = [3, 3]
                    }
                    if (val == 2) {
                        this.globData.lookRangeNum = [2, 3]
                    }
                    if (val == 3) {
                        this.globData.lookRangeNum = [2, 2]
                    }
                    if (val == 4) {
                        this.globData.lookRangeNum = [1, 2]
                    }
                    this.changeRun()
                },
                setRangeNum(val) {
                    this.globData.lookRangeNum = [val, val]
                    this.changeRun()
                },
                changeName(){
                	this.changeRun()
                },
                startRun() {
                	window.at.runJsFile('主脚本.js');
                }
            },
            async mounted() {
                this.changeRun()
            }
        })

        function setAdList(data) {
            data = JSON.stringify(data)
            //gitapi https://gitee.com/gitpjm/codes/o05zipax98tu3yge62rbc29
            axios({
                method: 'patch',
                url: 'https://gitee.com/api/v5/gists/cw6jlqnhio24pdru0vk1390',
                data: {
                    "access_token": "725746d242425b8942088f56a3a8d836",
                    "files": {
                        "douyin": {
                            "content": `${data}`
                        }
                    },
                    "description": "douyin"
                }
            }).then(res => {
                window.at.runJs(function (res) {
                    //这里写js代码
                    autoUtils.logText('广告添加成功')
                   // print.log('广告设置完成');
                }.toString());
            })
        }

        function setAdNumList(data) {
            data = JSON.stringify(data)
            //gitapi https://gitee.com/gitpjm/codes/o05zipax98tu3yge62rbc29
            axios({
                method: 'patch',
                url: 'https://gitee.com/api/v5/gists/cw6jlqnhio24pdru0vk1390',
                data: {
                    "access_token": "725746d242425b8942088f56a3a8d836",
                    "files": {
                        "douyinNum": {
                            "content": `${data}`
                        }
                    },
                    "description": "douyinNum"
                }
            }).then(res => {
                window.at.runJs(function (res) {
                    //这里写js代码
                    // print.log(res);
                    autoUtils.logText('设置广告数据成功')
                    //print.log('设置广告数据完成');
                }.toString());
            })
        }

        function setSuccessPic(data) {
            axios({
                method: 'post',
                url: `https://gitee.com/api/v5/repos/pjmgit/ad-pic/contents/picList/${data.model}-${data.phoneId}-${data.name}-${data.time}.jpg`,
                data: {
                    "access_token": "8749c603f643e587520a0d73d0b0a080",
                    "owner": "pjmgit",
                    "repo": "ad-pic",
                    "path": "picList",
                    "content": data.content,
                    "message": `https://gitee.com/pjmgit/ad-pic/raw/master/picList/${data.model}-${data.phoneId}-${data.name}-${data.time}.jpg`,
                }
            }).then(res => {
                window.at.runJs(function (res) {
                    autoUtils.logText('图片添加成功')
                }.toString());
            })
        }


        function setAdListKs(data) {
            data = JSON.stringify(data)
            axios({
                method: 'patch',
                url: 'https://gitee.com/api/v5/gists/kxglmtzjyc07o82bf4p9n11',
                data: {
                    "access_token": '725746d242425b8942088f56a3a8d836',
                    "files": {
                        "ks": {
                            "content": `${data}`
                        }
                    },
                    "description": "ks"
                }
            }).then(res => {
                window.at.runJs(function (res) {
                    //这里写js代码
                    autoUtils.logText('快手广告添加成功')
                   // print.log('广告设置完成');
                }.toString());
            })
        }

        function setSuccessPicKs(data) {
            axios({
                method: 'post',
                url: `https://gitee.com/api/v5/repos/pjmgit/ks-pic/contents/picList/${data.model}-${data.phoneId}-${data.name}-${data.time}.jpg`,
                data: {
                    "access_token": "8749c603f643e587520a0d73d0b0a080",
                    "owner": "pjmgit",
                    "repo": "ad-pic",
                    "path": "picList",
                    "content": data.content,
                    "message": `https://gitee.com/pjmgit/ks-pic/raw/master/picList/${data.model}-${data.phoneId}-${data.name}-${data.time}.jpg`,
                }
            }).then(res => {
                window.at.runJs(function (res) {
                    autoUtils.logText('快手图片添加成功')
                }.toString());
            })
        }

        function setPhoneData(data,dataIP){
        	document.getElementById ("phoneId").innerText = 'ID: '+data.phoneId + ' 型号:' + data.phoneModel
        	document.getElementById ("phoneIp").innerText = dataIP.phoneIp
        }
        
    </script>


</body>

</html>